#jinja2: trim_blocks: True, lstrip_blocks: True

{% if kerberos_enabled %}
# Kerberos login as 'spark'
kinit -kt /share/keytabs/hadoop-master1/spark.service.keytab spark/hadoop-master1.orb.local@TEST.ORG
{% endif %}

{% if trino_enabled %}
PATH=/opt/openjdk-25/bin:$PATH /opt/trino/bin/trino-cli http://hadoop-master1.orb.local:18081 --catalog=lakehouse --schema=default
{% endif %}

Run Spark Pi
{% if kerberos_enabled %}
spark-submit run-example --deploy-mode cluster --queue root.default --proxy-user spark SparkPi 10
{% else %}
spark-submit run-example --deploy-mode cluster --queue root.default SparkPi 10
{% endif %}

{% if hive_server2_enabled %}
# Connect to HiveServer2
{% if kerberos_enabled %}
kyuubi-beeline -u 'jdbc:hive2://hadoop-master1.orb.local:10000/default;principal=hive/_HOST@TEST.ORG'
{% else %}
kyuubi-beeline -u 'jdbc:hive2://hadoop-master1.orb.local:10000/default;user=hive'
{% endif %}
{% endif %}

{% if spark_thrift_server_enabled %}
# Connect to Spark ThriftServer
{% if kerberos_enabled %}
kyuubi-beeline -u 'jdbc:hive2://hadoop-master1.orb.local:10010/default;principal=hive/_HOST@TEST.ORG'
{% else %}
kyuubi-beeline -u 'jdbc:hive2://hadoop-master1.orb.local:10010/default;user=hive'
{% endif %}
{% endif %}

{% if spark_connect_server_enabled %}
# Connect to Spark Connect Server
spark-shell --properties-file /etc/spark/conf/spark-connect.conf
{% endif %}

# Connect to Kyuubi
{% if kerberos_enabled %}
kyuubi-beeline -u 'jdbc:kyuubi://hadoop-master1.orb.local:10009/default;kyuubiClientPrincipal=spark/_HOST@TEST.ORG;kyuubiClientKeytab=/share/keytabs/hadoop-master1/spark.service.keytab;kyuubiServerPrincipal=kyuubi/_HOST@TEST.ORG'
kyuubi-beeline -u 'jdbc:kyuubi://hadoop-master1.orb.local:10009/default;principal=kyuubi/_HOST@TEST.ORG'
kyuubi-beeline -u 'jdbc:kyuubi://hadoop-master1.orb.local:10009/default;principal=kyuubi/_HOST@TEST.ORG' --conf kyuubi.engine.share.level=CONNECTION
{% else %}
kyuubi-beeline -u 'jdbc:kyuubi://hadoop-master1.orb.local:10009/default;user=kyuubi'
kyuubi-beeline -u 'jdbc:kyuubi://hadoop-master1.orb.local:10009/default;user=kyuubi' --conf kyuubi.engine.share.level=CONNECTION
{% endif %}

# Connect to Kyuubi HA
{% if kerberos_enabled %}
kyuubi-beeline -u 'jdbc:kyuubi://hadoop-master1.orb.local:2181/default;principal=kyuubi/_HOST@TEST.ORG;serviceDiscoveryMode=zookeeper;zooKeeperNamespace=kyuubi'
{% else %}
kyuubi-beeline -u 'jdbc:kyuubi://hadoop-master1.orb.local:2181/default;serviceDiscoveryMode=zookeeper;zooKeeperNamespace=kyuubi'
{% endif %}

# Submit Spark Pi using Kyuubi Batch API
hadoop fs -put file:///opt/spark/examples/jars/spark-examples_{{ spark_scala_binary_version }}-{{ spark_version }}.jar hdfs://hadoop-master1.orb.local:8020/tmp/

{% if kerberos_enabled %}
# TODO
{% else %}
kyuubi-ctl submit batch \
  --hostUrl=http://hadoop-master1.orb.local:10099 \
  -f kyuubi-batch-spark-pi.yaml
{% endif %}
