*.iml
*.ipr
*.iws
*.log
.DS_Store
.idea
.python-version
base-ubuntu-2004/Dockerfile
depends
download/
flags
graphviz
dependency_graph.svg
*.swp
build/tmp
.env
build-image.sh
download.sh
compose.yaml
hadoop-master1/
hadoop-worker1/
hadoop-worker2/
hadoop-worker3/
