#!/usr/bin/env bash

set -exuo pipefail

HADOOP="$HADOOP_HOME/bin/hadoop"
{% if kerberos_enabled %}
kinit -kt /share/keytabs/hadoop-master1/nn.service.keytab nn/hadoop-master1.orb.local@TEST.ORG
{% else %}
HADOOP="HADOOP_USER_NAME=hdfs $HADOOP"
{% endif %}

DIR_LIST=/tmp/hdfs-init-dirs

set +x

function parallel_create_dirs() {
    while read line; do
        # skip empty or started with # line
        [[ -z "$line" || "$line" =~ ^# ]] && continue

        owner=$(echo $line | jq -r '.owner')
        group=$(echo $line | jq -r '.group')
        permission=$(echo $line | jq -r '.permission')
        path=$(echo $line | jq -r '.path')
        command="$HADOOP fs -mkdir -p $path && $HADOOP fs -chmod $permission $path && $HADOOP fs -chown $owner:$group $path"
        echo $command
    done < $DIR_LIST | xargs -t -I {} -P 5 bash -c "{}"
}

echo > $DIR_LIST
# top-level
echo '{"owner": "hdfs", "group": "hdfs", "permission": "1777", "path": "/tmp"}' >> $DIR_LIST
echo '{"owner": "hdfs", "group": "hdfs", "permission": "1755", "path": "/var"}' >> $DIR_LIST
echo '{"owner": "hdfs", "group": "hdfs", "permission": "1755", "path": "/user"}' >> $DIR_LIST
echo '{"owner": "hive", "group": "hadoop", "permission": "1777", "path": "/warehouse"}' >> $DIR_LIST
echo '{"owner": "yarn", "group": "hadoop", "permission": "1777", "path": "/yarn-app-log"}' >> $DIR_LIST
echo '{"owner": "mapred", "group": "mapred", "permission": "1777", "path": "/mr-staging"}' >> $DIR_LIST
echo '{"owner": "mapred", "group": "hdfs", "permission": "1777", "path": "/mr-history"}' >> $DIR_LIST
{% if spark_enabled %}
echo '{"owner": "spark", "group": "hdfs", "permission": "1777", "path": "/spark-history"}' >> $DIR_LIST
{% endif %}
{% if flink_enabled %}
echo '{"owner": "flink", "group": "hdfs", "permission": "1777", "path": "/flink-history"}' >> $DIR_LIST
{% endif %}
parallel_create_dirs

echo > $DIR_LIST
# user home
echo '{"owner": "mapred", "group": "mapred", "permission": "755", "path": "/user/history"}' >> $DIR_LIST
echo '{"owner": "yarn", "group": "hadoop", "permission": "755", "path": "/user/yarn"}' >> $DIR_LIST
echo '{"owner": "hive", "group": "hadoop", "permission": "755", "path": "/user/hive"}' >> $DIR_LIST
echo '{"owner": "root", "group": "hadoop", "permission": "755", "path": "/user/root"}' >> $DIR_LIST
{% if spark_enabled %}
echo '{"owner": "spark", "group": "hadoop", "permission": "755", "path": "/user/spark"}' >> $DIR_LIST
{% endif %}
{% if flink_enabled %}
echo '{"owner": "flink", "group": "hadoop", "permission": "755", "path": "/user/flink"}' >> $DIR_LIST
{% endif %}
parallel_create_dirs
