# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#
# [name]  [maven artifact]  [description]

alluxio         org.apache.zeppelin:zeppelin-alluxio:{{ zeppelin_version }}              Alluxio interpreter
angular         org.apache.zeppelin:zeppelin-angular:{{ zeppelin_version }}              HTML and AngularJS view rendering
bigquery        org.apache.zeppelin:zeppelin-bigquery:{{ zeppelin_version }}             BigQuery interpreter
cassandra       org.apache.zeppelin:zeppelin-cassandra:{{ zeppelin_version }}            Cassandra interpreter
elasticsearch   org.apache.zeppelin:zeppelin-elasticsearch:{{ zeppelin_version }}        Elasticsearch interpreter
file            org.apache.zeppelin:zeppelin-file:{{ zeppelin_version }}                 HDFS file interpreter
flink           org.apache.zeppelin:zeppelin-flink:{{ zeppelin_version }}                Flink interpreter
groovy          org.apache.zeppelin:zeppelin-groovy:{{ zeppelin_version }}               Groovy interpreter
hbase           org.apache.zeppelin:zeppelin-hbase:{{ zeppelin_version }}                Hbase interpreter
java            org.apache.zeppelin:zeppelin-java:{{ zeppelin_version }}                 Java interpreter
jdbc            org.apache.zeppelin:zeppelin-jdbc:{{ zeppelin_version }}                 Jdbc interpreter
livy            org.apache.zeppelin:zeppelin-livy:{{ zeppelin_version }}                 Livy interpreter
md              org.apache.zeppelin:zeppelin-markdown:{{ zeppelin_version }}             Markdown support
neo4j           org.apache.zeppelin:zeppelin-neo4j:{{ zeppelin_version }}                Neo4j interpreter
python          org.apache.zeppelin:zeppelin-python:{{ zeppelin_version }}               Python interpreter
shell           org.apache.zeppelin:zeppelin-shell:{{ zeppelin_version }}                Shell command
sparql          org.apache.zeppelin:zeppelin-sparql:{{ zeppelin_version }}               Sparql interpreter
submarine       org.apache.zeppelin:zeppelin-submarine:{{ zeppelin_version }}            Submarine interpreter
