[program:hdfs-datanode]
directory=/opt/hadoop
command=hdfs datanode
startsecs=2
stopwaitsecs=10
{% if kerberos_enabled %}
user=root
{% else %}
user=hdfs
{% endif %}
redirect_stderr=true
stdout_logfile=/var/log/hdfs-datanode.log
autostart=true
