#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

## Kyuubi Configurations

{% if kerberos_enabled %}
kyuubi.authentication                    KERBEROS
kyuubi.kinit.principal                   kyuubi/_HOST@TEST.ORG
kyuubi.kinit.keytab                      /share/keytabs/hadoop-master1/kyuubi.service.keytab
{% endif %}

kyuubi.frontend.bind.host                hadoop-master1.orb.local
kyuubi.frontend.protocols                THRIFT_BINARY,REST
kyuubi.frontend.thrift.binary.bind.port  10009
kyuubi.frontend.rest.bind.port           10099
kyuubi.metadata.store.jdbc.url           jdbc:sqlite:file:/var/lib/kyuubi/kyuubi_state_store.db
#
# kyuubi.engine.type                       SPARK_SQL
# kyuubi.engine.share.level                USER
# kyuubi.session.engine.initialize.timeout PT3M
#
kyuubi.ha.addresses                      hadoop-master1.orb.local:2181
kyuubi.ha.namespace                      kyuubi

kyuubi.engine.session.initialize.sql \
      show databases in tpcds; \
      show databases in tpch

spark.yarn.maxAppAttempts                1
spark.submit.deployMode                  cluster

# Details in https://kyuubi.readthedocs.io/en/master/configuration/settings.html
