#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

## Kyuubi Configurations

{% if kerberos_enabled %}
kyuubi.authentication                    KERBEROS
kyuubi.kinit.principal                   kyuubi/_HOST@TEST.ORG
kyuubi.kinit.keytab                      /share/keytabs/hadoop-master1/kyuubi.service.keytab
{% endif %}

kyuubi.frontend.bind.host                hadoop-master1.orb.local
kyuubi.frontend.protocols                THRIFT_BINARY,REST
kyuubi.frontend.thrift.binary.bind.port  10009
kyuubi.frontend.rest.bind.port           10099

kyuubi.engine.type                       SPARK_SQL
kyuubi.engine.share.level                USER
kyuubi.session.engine.initialize.timeout PT3M

kyuubi.ha.addresses                      hadoop-master1.orb.local:2181
kyuubi.ha.namespace                      kyuubi

kyuubi.yarn.user.strategy  ADMIN
kyuubi.yarn.user.admin     yarn

kyuubi.operation.progress.enabled=true
kyuubi.metadata.store.jdbc.database.schema.init=false
kyuubi.metadata.store.jdbc.database.type=mysql
kyuubi.metadata.store.jdbc.driver=com.mysql.jdbc.Driver
kyuubi.metadata.store.jdbc.url=jdbc:mysql://mysql:3306/kyuubi?useSSL=false&useUnicode=true&characterEncoding=UTF-8
kyuubi.metadata.store.jdbc.user=root
kyuubi.metadata.store.jdbc.password=root

# spark engine
kyuubi.session.engine.spark.initialize.sql \
      show databases in tpcds; \
      show databases in tpch

spark.yarn.maxAppAttempts                    1
spark.submit.deployMode                      cluster
kyuubi.session.engine.startup.waitCompletion false

# hive engine
kyuubi.engine.hive.extra.classpath      /opt/hadoop/share/hadoop/client/*:/opt/hadoop/share/hadoop/mapreduce/*

# flink engine
flink.execution.target                  yarn-application
kyuubi.engine.flink.extra.classpath     /opt/hadoop/share/hadoop/client/*:/opt/hadoop/share/hadoop/mapreduce/*

# Details in https://kyuubi.readthedocs.io/en/master/configuration/settings.html
