[program:zeppelin-server]
directory=/opt/zeppelin
command=/opt/zeppelin/bin/zeppelin.sh
startsecs=30
stopwaitsecs=10
user=zeppelin
redirect_stderr=true
stdout_logfile=/var/log/zeppelin-server.log
{% if zeppelin_enabled %}
autostart=true
{% else %}
autostart=false
{% endif %}
