[program:hbase-regionserver]
directory=/opt/hbase
command=bash /opt/start-hbase-regionserver.sh
startsecs=30
stopwaitsecs=10
user=hbase
redirect_stderr=true
stdout_logfile=/var/log/hbase-regionserver.log
{% if hbase_enabled %}
autostart=true
{% else %}
autostart=false
{% endif %}
