<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %c{1}: %m%n"/>
    </Console>
    <Loki name="loki">
      <host>loki</host>
      <port>3100</port>
      <PatternLayout>
        <Pattern>%X{tid} [%t] %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1} - %m%n%exception{full}</Pattern>
      </PatternLayout>
      <Label name="host" value="${sys:hostname}"/>
    </Loki>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="loki"/>
    </Root>
    <Logger name="org.apache.hadoop.util.Shell" level="ERROR" additivity="false">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="loki"/>
    </Logger>
  </Loggers>
</Configuration>
